*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
}
section{
    margin-bottom: 100px;
}
h2{
    text-align: left;
}
p{
    font-size: 18px;
}

/*ESTILO DAS BARRAS DE NAVEGAÇÃO*/
header{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style: none;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: #006999;
}
.navbar ul li:hover{
    border-bottom: 1px solid #0c3c53;
}


/*ESTILO DO HEADER COM DEGRADÊ*/



/*ESTILO DOS CARDS*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 8px;
}
/*
.cards .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 200px;
    padding: 10px 20px 10px 10px;
    border: none;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
    background-image: linear-gradient(70deg, #0c3c53,#0076ac);
}
*/
.cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 260px;
    padding: 10px;
    border: none;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
    background-image: linear-gradient(70deg, #0c3c53,#0076ac);
}
.cards .card:hover{
    transform: scale(1.02);
}
.cards .card h2{
    color:white;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px; 
}
.card p{
    color: white;
    line-height: 16px;
    text-align: center;
}
.cards .card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}