*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}
body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    margin-bottom: 100px;
}
body h2{
    text-align: left;
    color: #00533d;
}
p{
    font-size: 18px;
}

/*ESTILO DAS BARRAS DE NAVEGAÇÃO*/
@media(max-width:991px){
    #navbarSite{
        background-image: linear-gradient(70deg,  #00533d, #006c4f);
        padding: 30px 20px 30px 20px;
        width: 100vw;
    }       
}


header{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.navbar ul li{
    list-style: none;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}
.navbar ul li a:hover{
    color: rgb(92, 255, 190);
}


/*ESTILO DOS CARDS*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
@media(max-width:550px){
    .cards{
        justify-content: center;
    }
}
.cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 230px;
    height: 260px;
    padding: 10px;
    border: none;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
    background-image: linear-gradient(70deg,  #00533d, #006c4f);
}
.cards .card:hover{
    transform: scale(1.02);
}
.cards .card h2{
    color:white;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px; 
}
.card p{
    color: white;
    line-height: 16px;
    text-align: center;
}
.cards .card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}




/*ESTILO DO FOOTER*/
footer{
    width: 100vw;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container{
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100;
}
footer .degradeFooter{
    background-image: linear-gradient(70deg,  #00533d, #006c4f);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.9;    
}
footer .bgFooter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/boto.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}