.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slogan{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 550px;
    margin-bottom: 5px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slogan .degradeBg{
    background-image: linear-gradient(70deg,  #00533d, #006c4f);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 5px;
    z-index: 3;
    opacity: 0.9;    
}
.slogan .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/boto.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 5px;
}
.slogan > h1{
    color: white;
    text-align: center;
}





.imgHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.imgHome article h2{
    text-align: left;
    color: #00533d;
}
.imgHome article p{
    text-align: justify;
    color: rgb(90, 90, 90);
}
section h2{
    color: #00533d;
}





.imgHome .equipe{
    max-width: 500px;
    background-image: linear-gradient(70deg,  #00533d, #006c4f);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
}
.imgHome .equipe img{
    width: 100%;
}

.slogan .bemvindo h1,p{
    color: #ffffff;
    text-align: center;
}
.slogan .bemvindo nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bemvindo{
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.slogan .wave{
    position: absolute;
    bottom: -2px;
    width: 100%;
    z-index: 10;
}
.slogan .wave img{
    width: 100%;
    animation: wave 3s infinite ease-in-out alternate;

}



.unidadesContainer{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.unidades{
    min-width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:767px){
    .unidades{
        justify-content: center;
    }
}
.unidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
}
.unidade div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unidade div p{
    margin-bottom: 0px;
}

.unidades p{
    color: rgb(90, 90, 90);
}
.unidade .containerImgUnd{
    width: 100%;      
}
#containerImgT{
    background-image: url('/img/unidades/unidade terrestre.jpeg');
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#containerImgR{
    background-image: url('/img/unidades/unidade ribeirinha.jpeg');
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#containerImgF{
    background-image: url('/img/unidades/unidade fluvial.png');
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

@keyframes wave{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}